@import 'variables';

.nine__blog {
    color: $blue;
    margin-top: 3rem;

    &-content {
        h2 {
            font-size: $h2;
        }

        p {
            font-size: $regular-2;
        }
    }
}