.nine__content {
    &-container {
        color: $blue;
        margin: 4rem 0;
        h2 {
            font-size: $h2;
        }
        p{
            padding: 1rem 0;
            font-size: $regular-2;
            line-height: 2;
        }
    }
}

@media screen and (max-width:800px) {
    .nine__content {
        margin: 1rem 0;
        &-container {
            h2 {
                font-size: $h2-mobile;
            }

            p {
                font-size: $regular-2-mobile;
                line-height: 1.5;
                text-align: justify;
            }
        }
    }
}