@import 'variables';

.content {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, auto);
    margin: 5rem 0;
}
.nine__service {
    max-width: 80%;
    margin-bottom: 5rem;
    &-content {
        color: $blue;

        &_header {
            h2 {
                font-size: 35px;
            }
        }
        &_content {
            max-height: 10rem;
            overflow: hidden;
            margin: 3rem 0;
            p {
                text-align: justify;
                font-size: $regular-2;
            }
        }

        &:hover {
            &_content {
                visibility: visible;
            }
        }
    }

}

@media screen and (max-width: 800px) {
    .content {
        grid-template-columns: 1fr;
    }

    .nine__service {
        max-width: 90%;

      &-content {
        &_header {
            h2 {
                font-size: 25px;
            }
        }

        &_content {
            margin: 2rem auto;
            p {
                font-size: $regular-2-mobile;
            }
        }
      }

    }
}
