// Font size classes 

$h1: 45px;
$h1-mobile:25px;
$h2: 35px;
$h2-mobile: 25px;
$regular: 16px;
$regular-2: 20px;
$regular-2-mobile:18px;
$line-height-h1: 4rem;
$line-height-h1-mobile: 2rem;

// margin classes

.m1 {
        margin: 1rem;
}
.m2 {
        margin: 2rem;
}
.m3 {
        margin: 3rem;
}
.mv1 {
        margin: 1rem 0;
}
.mv2 {
        margin: 2rem 0;
}
.mv3 {
        margin: 3rem 0;
}
.mh1 {
        margin: 0 1rem;
}
.mh2 {
        margin: 0 2rem;
}
.mh3 {
        margin: 0 3rem;
}

//Colors 

$white: #fff;
$grey: #707070;
$blue: #285C88;
$blue-50: rgba(40, 92, 136, 0.25);
$blue-75: rgba(40, 92, 136, 0.50);
$lightblue: #A1D2FB;
$lightblue-gradient: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(201,213,223,1) 35%, rgba(161,210,251,1) 100%);
$blue-gradient: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(40,92,136,1) 35%, rgba(0,212,255,1) 100%);

.flex {
    display: flex;
}

.loader {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 5rem 0;
}

// animations

// Scale up class and animation for hamburger menu
.scale-up-right {
	-webkit-animation: scale-up-right 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-right 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes scale-up-right {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
      -webkit-transform-origin: 100% 50%;
              transform-origin: 100% 50%;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: 100% 50%;
              transform-origin: 100% 50%;
    }
  }
  @keyframes scale-up-right {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
      -webkit-transform-origin: 100% 50%;
              transform-origin: 100% 50%;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: 100% 50%;
              transform-origin: 100% 50%;
    }
  }

  //button
  .button {
          padding: 1rem 2rem;
          font-size: $regular-2;
          cursor: pointer;
          border: none;
        border-radius: 10px;
        

          &-blue {
                  background: $blue;
                  
                  color: $white;
          }

          &-light-blue {
                  background: $lightblue;
                  color: $blue;
          }
  }

  @media screen and (max-width: 800px ) {
          .button {
                  font-size: 1rem;
                  padding: 1rem 1rem;
          }
  }

//  mouse scroll prompt class and animation
  .mouse {
	width: 20px;
	height: 40px;
	border: 3px solid $lightblue;
	border-radius: 60px;
	position: absolute;
        left: 50%;
        bottom: 0;
        margin-right: 10px;
        margin-bottom: 1rem;
	&::before {
		content: '';
		width: 6px;
		height: 6px;
		position: absolute;
		top: 6px;
		left: 50%;
		transform: translateX(-50%);
		background-color: $lightblue;
		border-radius: 50%;
		opacity: 1;
		animation: wheel 2s infinite;
		-webkit-animation: wheel 2s infinite;
	}
}

@media  screen and (max-width:800px) {
        .whitespace {
                height: 2vh;
                background: #fff;
        }
        .mouse {
                margin-bottom: 1.5rem;
                left: 47%;
        }

        .m1 {
                margin: 0.5rem;
        }
        .m2 {
                margin: 1rem;
        }
        .m3 {
                margin: 2rem;
        }

        .mv1 {
                margin: 0.5rem 0;
        }
        .mv2 {
                margin: 1rem 0;
        }
        .mv3 {
                margin: 2rem 0;
        }
        .mh1 {
                margin: 0 0.5rem;
        }
        .mh2 {
                margin: 0 1rem;
        }
        .mh3 {
                margin: 0 2rem;
        }
        
        
}

@keyframes wheel {
	to {
		opacity: 0;
		top: 30px;
	}
}

@-webkit-keyframes wheel {
	to {
		opacity: 0;
		top: 60px;
	}
}

// fade in class animation for components

.fade-in-2{
        animation: fade-in-2 2s ease-in;
}

@keyframes fade-in-2 {
        0% {
                opacity: 0;
        }
}
.fade-in-4{
        animation: fade-in-4 3s ease-in;
}

@keyframes fade-in-4 {
        0% {
                opacity: 0;
        }
}


  
.whitespace {
        height: 20vh;
        background: #fff;
}