@import 'navbar';
@import 'variables';
@import 'queries';
@import 'hero';
@import 'feature';
@import 'features';
@import 'brand';
@import 'clients';
@import 'carousel';
@import 'cta';
@import 'footer';
@import 'about';
@import 'header';
@import 'content';
@import 'contact';
@import 'service';
@import 'blog';
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@400;700&display=swap');
@import 'testimonies';

// reset

* {
   
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Gothic A1', sans-serif;
    cursor: url('../Assets/Icons/circle.png'), auto;

    a {
        text-decoration: none;
        color: $grey;
        cursor: pointer;
    }
}

html {
    overflow-x: hidden;
}
// body {
//     background: black;
// }

//Container

.container{
    height: 100%;
    max-width: 85%;
    margin: auto;
}